@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?vuscvv');
  src:  url('fonts/icomoon.eot?vuscvv#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?vuscvv') format('truetype'),
  url('fonts/icomoon.woff?vuscvv') format('woff'),
  url('fonts/icomoon.svg?vuscvv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  font-family : Helvetica Neue;
  margin : 0;
  padding : 0;
  outline : mediumblue;
  -webkit-tap-highlight-color : rgba( 0,0 ,0, 0);
  box-sizing : border-box;
  -webit-box-sizing : border-box;
  -moz-box-sizing : border-box;
  outline : none;
}
html{
  -webkit-text-size-adjust : none;
}
body {
  margin : 0 auto ;
  -webkit-font-smoothing : subpixel-antialiased;
}
h1,h2,h3, h4,h5,h6{
  font-weight :normal;
}
ol,ul,li {
  list-style : none;
}
button {
  background : none;
  border : none;
}
i,cite,em, var,address, dfn {
  font-style : normal;
}
ins,a{
  text-decoration : none;
}
table {
  border-collapse : collapse;
  border-spacing : 0;
}
table,td,img, fieldset,iframe {
  border : none;
}
textarea {
  resize : none;
  overflow : auto;
}
caption,th,td {
  font-weight : normal;
}
blockquote :before, blockquote:after, q:before, q:after {
  content : "";
}
blockquote ,q {
  quotes : "" "";
}
td,th,div {
  word-break : break-all;
  word-wrap : break-word;
}
form {
  display : inline;
}
.clear :after{
  content : '\20';
  height : 0;
  display : block;
  clear: both ;
  visibility : hidden;
}
.page{
  background: url("bg.png") repeat;
}
.header-wrapper{
  display: block;
  width: 100%;
  height:66px;
  position: fixed;
  top:0;
  left: 0;
  z-index: 5;
  .left-wrap{
    color: #fff;
    display: flex;
    img{
      display: inline-block;
      width:50px;
      height:50px;
      border-radius: 50%;
      margin:8px 16px 0 22px;
    }
    .name{
      height:66px;
      line-height: 66px;
      display: inline-block;
      padding-right: 10px;
      font-size: 16px;
    }
    .job{
      font-size: 16px;
      height:66px;
      line-height: 66px;
      display: inline-block;
      &:before{
        content: '';
        height:10px;
        border-left: 1px solid #fff;
        opacity: .4;
        margin-right: 11px;
      }
    }
  }
}

#fullpage{
  .page1,.page2,.page3,.page4,.page5,.page6{
    display: flex;
    overflow: hidden;
    position: relative;
    flex-direction: column;
    align-items: center;
    h2{
      font-size: 22px;
      color: #fff;
      margin-top: 80px;
    }
  }
  .page1{
    .imgwrap{
      flex:0 0 150px;
      width:150px;
      height:150px;
      border-radius: 50%;
      overflow: hidden;
      margin-top:120px;
      background: url("images/1.jpg") no-repeat;
      background-size: cover;
      opacity: .8;
      &:hover{
        box-shadow: 0 0 10px 2px #898be2;
      }
    }
    .title{
      padding-bottom: 20px;
      border-bottom: 1px solid rgba(255,255,255,.8);
      margin-top: 50px;
      width:800px;
      text-align: center;
      font-size: 22px;
      color: #fff;
    }
  }
  .page2{
    .info-wrapper{
      .tag{
        height:26px;
        line-height: 26px;
        padding:0 5px 0 3px;
        background: #ab7160;
        color: #fff;
        position: absolute;
        margin-top: 15px;
        //margin-left: 13px;
        margin-left: 3px;
        opacity: 0;
        transition: all .5s ease;
        &:after{
          content: '';
          position: absolute;
          width: 0;
          height: 0;
          border-top: 13px solid transparent;
          border-bottom: 13px solid transparent;
          border-right: 13px solid #ab7160;
          left:-13px;
          top:0;
        }
      }
      .icon-wrapper:hover{
        .tag{
          margin-left: 13px;
          opacity: 1;
        }
      }
      position: relative;
      width:800px;
      margin-top: 50px;
      display: flex;
      justify-content: space-around;
      .icon{
        text-align: center;
        line-height: 110px;
        width:110px;
        height:110px;
        border-radius: 50%;
        background: rgb(171, 113, 96);
        border:1px solid rgb(171, 113, 96);
        transition: background .6s ease;
        &.icon-accessibility:before{
          content: "\e9b2";
        }
        &.icon-location2:before {
          content: "\e948";
        }
        &.icon-history:before {
          content: "\e94d";
        }
        &.icon-books:before {
          content: "\e920";
        }
        &::before{
          color: #fff;
          font-size: 58px;
        }
        &:hover{
          background: rgb(148, 92, 76);
        }
      }
      .title{
        text-align: center;
        color: #fff;
        margin-top: 30px;
        font-size: 20px;
      }
    }
    ul{
      display: block;
      width:800px;
      margin-top: 70px;
      li{
        text-align: center;
        line-height: 23px;
        margin-bottom: 12px;
        color: #fff;
        font-size: 15px;
        letter-spacing: 2px;
      }
    }
  }
  .page3{
    .tag-wrapper{
      width:800px;
      display: flex;
      flex-wrap: wrap;
      padding-left: 30px;
      //overflow: hidden;
      margin-top: 22px;
    }
    .tag{
      position: relative;
      height:36px;
      line-height: 36px;
      padding:0 15px 0 20px;
      background: #000;
      color: #fff;
      margin-top: 30px;
      //margin-left: 13px;
      margin-left: 3px;
      opacity: 1;
      margin-right: 55px;
      &:after{
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-top: 18px solid transparent;
        border-bottom: 18px solid transparent;
        border-right: 18px solid #000;
        left:-18px;
        top:0;
      }
      &:before{
        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #fff;
        left:0;
        top:14px;
      }
      &.one-B{
        background:#afe22b;
        &::after{
          border-right-color: #afe22b;
        }
      }
      &.two{
        background: sandybrown;
        &::after{
          border-right-color: sandybrown;
        }
      }
      &.three{
        background: darkturquoise;
        &::after{
          border-right-color: darkturquoise;
        }
      }
    }
  }
  .page4{
    .page-wrapper{
      position: relative;
      margin-top: 42px;
      width:750px;
      height:350px;
      border-radius: 10px;
      box-shadow: 0 0 20px 0 rgba(0,0,0,.4);
      background: #fff;
      .change{
        position: absolute;
        bottom:-2px;
        //overflow: hidden;
        height:36px;
        width:750px;
        //left:50%;
        //margin-left: -58px;
        text-align: center;
        z-index: 7;
      }
      .tab-ul{
        display: inline-block;
      }
      .tab-li{
        width:10px;
        height:10px;
        border-radius: 50%;
        background: #a8d0e2;
        display: inline-block;
        margin:10px 4px 0;
        &.active{
          background: rgb(75, 133, 160);
        }
      }
      .turn{
        position: relative;
        width:30px;
        height:30px;
        display: block;
        line-height: 24px;
        text-align: center;
        overflow: hidden;
        background: rgb(75, 133, 160);
        color: #fff;
        font-size: 20px;
        z-index: 6;
        opacity: .5;
        width:100px;
        height:100px;
        &.left{
          position: absolute;
          left:100px;
          bottom:2px;
          background: url("images/left.png") no-repeat;
          background-size: contain;
        }
        &.right{
          position: absolute;
          right:100px;
          bottom:0px;
          background: url("images/right.png") no-repeat;
          background-size: contain;
        }
      }
    }
    .exp-wrapper{
      width:100%;
      height:100%;
      overflow: hidden;
      .exp-ul{
        position: relative;
        width:100%;
        height:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .exp-li{
          display: flex;
          position: absolute;
          height:100%;
          top:0;
          width:750px;
          border-radius: 10px;
          margin-left:45px;
          transition:all 1s ease-out;
          background: rgb(75, 133, 160);
          opacity: 0;
          bottom:0;
          left:0;
          right:0;
          margin:auto;
          transform: scale(.8);
          padding:20px;
          &.active{
            margin-left:0;
            z-index: 3;
            background: #fff;
            opacity: 1;
            transform: scale(1);
          }
          .comp-icon{
            flex: 0 0 150px;
            .img1{
              width:100%;
              margin-top: 138px;
            }
            .img2{
              width:100%;
              margin-top: 127px;
            }
          }
          .comp-info{
            flex:1;
            padding-left: 50px;
           .title{
              color: rgb(75, 133, 160);
              font-size: 19px;
              font-weight: 600;
              margin-top: 18px
            }
            .time{
              color: rgb(75, 133, 160);
              margin-top: 15px;
              font-size: 16px;
            }
            .technology{
              color: rgb(75, 133, 160);
              margin-top: 15px;
              font-size: 16px;
            }
            ol{
              color: rgb(75, 133, 160);
              margin-top: 46px;
              li{
                list-style: disc;
                color: #000;
                margin-top: 10px;
              }
            }
          }
        }
      }
    }
  }
  .page5{
    .do-wrapper{
      overflow: hidden;
      margin-top: 42px;
      width:750px;
      height:400px;
      background: #eee;
      display: flex;
      .do-list{
        width:250px;
        border:2px solid #fff;
        .doWrapper{
          position: relative;
          display: block;
          width:100%;
          height:400px;
          font-size: 0;
          padding:10px;
          text-align: justify;
          h3{
            font-size: 18px;
            color: darkcyan;
            text-align: center;
            font-weight: 600;
            margin-top: 20px;
          }
          div{
            margin-top: 10px;
            font-size: 16px;
            color: #000;
            line-height: 25px;
          }
          .link{
            cursor: pointer;
            position: absolute;
            display: block;
            width:230px;
            height:36px;
            line-height: 36px;
            text-align: center;
            font-size: 16px;
            color: #fff;
            background: goldenrod;
            left:10px;
            bottom:25px;
          }
        }
      }
    }
  }
  .page6{
    .contact-wrapper{
      color: #fff;
      width: 340px;
      display: flex;
      justify-content: center;
      overflow: hidden;
      margin-top: 25px;
      &:first-of-type{
        margin-top:45px;
      }
      .icon{
        flex:0 0 143px;
        vertical-align: middle;
        &::before{
          vertical-align: middle;
          content: "\ea86";
          font-size: 22px;
          color: #fff;
          margin-right: 10px;
        }
      }
      .icon-mail4:before {
        content: "\ea86";
      }
      .text{
        flex:1;
        a{
          font-style: normal;
          color: #fff;
          text-decoration: underline;
        }
      }
      .icon-mobile2:before {
        content: "\e959";
      }
      .icon-bubble2:before {
        content: "\e96e";
      }
      .icon-github:before {
        content: "\eab0";
      }
      .icon-map:before {
        content: "\e94b";
      }
    }
  }
}
.icon-home2:before {
  content: "\e901";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-keyboard:before {
  content: "\e955";
}
.icon-user:before {
  content: "\e971";
}
.icon-embed2:before {
  content: "\ea80";
}
.icon-dropbox:before {
  content: "\eaae";
}
.immfont{
  &::before{
    color: #000;
    opacity: 0.7;
    font-size: 32px;
    border-radius: 50%;
  }
}